@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  /* color-scheme: light dark; */

background-color: #26252c ;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.colorTransition{
  transition: color ease 0.3s;

}
.tabTransition{
  transition: left cubic-bezier(0.88, -0.35, 0.565, 1.35) 0.4s;

}

.webkitScroll::-webkit-scrollbar {
  width: 3px; 
  height: 3px; 
}
.webkitScroll::-webkit-scrollbar-track {
  background: rgb(18 19 22 / var(--tw-bg-opacity))1;
  border-radius: 10px; 
}
.webkitScroll::-webkit-scrollbar-thumb {
  background: #FFC107; 
  border-radius: 10px; 
}
input::-webkit-file-upload-button{
  background-color: #FFC107;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  cursor: pointer;
}
